<div>{{SVGRef}}</div>

<p>O elemento <code>view</code> é uma maneira definitiva para visualizar a imagem, com um nível de zoom ou uma visualização detalhada.</p>

<h2 id="Contexto_de_uso">Contexto de uso</h2>

<p>{{svginfo}}</p>

<h2 id="Exemplo">Exemplo</h2>

<h2 id="Atributos">Atributos</h2>

<h3 id="Atributos_globais">Atributos globais</h3>

<ul>
 <li><a href="/pt-BR/SVG/Attribute#Core" title="en/SVG/Attribute#Core">Atributos principais</a> »</li>
 <li>{{ SVGAttr("externalResourcesRequired") }}</li>
</ul>

<h3 id="Atributos_específicos">Atributos específicos</h3>

<ul>
 <li>{{ SVGAttr("viewBox") }}</li>
 <li>{{ SVGAttr("preserveAspectRatio") }}</li>
 <li>{{ SVGAttr("zoomAndPan") }}</li>
 <li>{{ SVGAttr("viewTarget") }}</li>
</ul>

<h2 id="Interface_DOM">Interface DOM</h2>

<p>Este elemento implementa a interface do <code><a href="/pt-BR/DOM/SVGViewElement" title="en/DOM/SVGViewElement">SVGViewElement</a></code>.</p>